<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="~/Images/Logo_PPG.png" />

    <title>PPG Comex</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/angularJs")
    @Scripts.Render("~/bundles/bootstrapJs")
    @Scripts.Render("~/bundles/loadersJs")
    @Scripts.Render("~/bundles/jqueryUI")

</head>
<body>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@

    @*CUERPO*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">@DateTime.Now.Year - &copy; PPG Comex</p>
        </footer>
    </div>

    @*MODAL CARGAR*@
    <div id="myModalLoader" class="modal fade modal-center" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <span class="modal-center-loading">Cargando...</span>
            <main>
                <div class="loaders">
                    <div class="loader">
                        <div class="loader-inner ball-clip-rotate-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
